<!DOCTYPE html>
<html>
	<head lang="en">
			<meta charset="UTF-8">
			<title>Timer Overlay</title>
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abel" />
            <link rel="stylesheet" type="text/css" href="./scripts/style.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="./scripts/streamtimer.js"></script>
			<script type="text/javascript" script-name="bangers" src="http://use.edgefonts.net/bangers.js"></script>
	</head>
    <body>
        
        <div id="timer">
            <span id="displayMsg"></span><span id="hours"></span><span id="minutes"></span><span id="seconds"></span>
        </div>
        <div id="debug"></div>

    </body>
</html>